.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

button {
  display: block;
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 80px;
}

h1 {
  text-decoration: underline;
  
}
